[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "folly"]
	path = folly
	url = git@github.com:YellowHCH/folly.git
[submodule "libco"]
	path = libco
	url = https://github.com/YellowHCH/libco.git
[submodule "cmake-examples"]
	path = cmake-examples
	url = https://github.com/ttroy50/cmake-examples
[submodule "lazy_load_library"]
	path = lazy_load_library
	url = https://github.com/YellowHCH/lazy_load_library.git
